@import url('https://fonts.googleapis.com/css?family=Roboto:100,200,300,400,500,600,700|Exo:100,200,300,400,500,600,700');

/*------------------------------ Colors */

.NameTitle {
    background-color: #676767;
}

.bg-color-three-reasons {
    background-color: #fff;
}

.bgColorWorkHistory {
   background-color: rgba(62, 36, 207, 0.8); 
}

.navColorHome {
    background-color: #e67e22;
}

.navColorResume {
    background-color: #3e24cf;
}

.navColorContact {
    background-color: #7b0780;
}

.navColorInterests {
    background-color: #804807;
}

.navColorGithub {
    background-color: #473747;
}

.navColorDownload {
    background-color: #222120;
}

.bgColorPersonalInfo {
    background-color: #f4f4f4ab;
}

.bgColorConferences {
    background-color: #f4f4f4ab;
}

.bgContactColor {
    background-color: #fff;
}

/*------------------------------Hover Effects */

.hvr-sweep-to-bottom:before {
    background: rgba(0, 0, 0, 0.2);
    height: 120px;
}

/*------------------------------General CSS style rules */

h1,
h2,
h3,
h4 {
    margin: 0;
}

.uppercase {
    text-transform: uppercase;
}

.generalSub {
    font-family: "Exo", sans-serif;
    font-weight: 300;
    color: #fafafa;
    text-align: center;
} 

.inline-block {
    display: inline-block;
}

.row-table {
    display: table;
}

.section-column {
    display: table-cell;
    padding: 0 30px 30px; 
    float: none;
}



.historyHeading,
.section-heading {
    font-family: "Exo", sans-serif;
    font-weight: 300;
    margin-top: 25px;
    margin-bottom: 40px;
}

/*------------------------------heading */

header {
    margin: 0px;
}

.heading {
margin-left: 50px;
}

.logoContainer {
    min-height: 300px;
    background-color: #676767;
    display:flex;
    justify-content: center;
    align-items: center;
}

.logo {
    width: 300px;
    border-radius: 50%;  
}


.name {
    font-family: "Exo", sans-serif;
    font-weight: 100;
    font-size: 46px; 
    margin-top: 50px;
    color: #fff;
}

.title {
    font-family: "Roboto", sans-serif;
    font-weight: 200;
    font-size: 28px; 
    margin-top: 20px;
    margin-bottom: 90px;
    color: #fff;
}

.list-inline-item:not(:last-child) {
    margin: 0;
}

@media only screen and (max-width: 575px){ 
.menuContainer {
    font-size: 0;
    display: block;
}}

@media only screen and (min-width: 575px){ 
.menuContainer {
    font-size: 0;
    display: flex;
}}


#nav {
    margin-bottom: 0;
}

#nav li {
    font-size: 14px;
    padding: 0;
}


.menuitem {
    height: 120px;
    flex-shrink: 2;
    text-align: center;
    padding: 0;
}




.menuitem a {
    width: 100%;
    text-decoration: none;
    color: #fff;
    height: 120px;
}

.menuitem a i {
    padding-top: 22px;
    display: block;
    color: #fafafa;
    font-size: 26px;
}

.menuitem span {
    display: block;
    width: 100%;
    padding-top: 5px;
    text-align: center;
    text-transform: uppercase;
    font-size: 14px;
    font-weight: 300;
    letter-spacing: 2px;
}


/*------------------------------footer */

footer {
    background-color: #4b4a4a;
    color: #fafafa;
    min-height: 120px;
    margin: 0; 
}

#footerspace {
    padding: 20px;
}

.cvFooter i {
    font-size: 18px;
    color: #fafafa;
    text-align: center;
    padding-left: 20px;
    transition: all 0.35s ease-in-out;
    -moz-transition: all 0.35s ease-in-out;
    -webkit-transition: all 0.35s ease-in-out;
    -o-transition: all 0.35s ease-in-out;
}

.cvFooter i:hover {
    color: #e84610;
}

.linkedin {
    text-align: center;
}

.linkedin li a i{
    width: 40px;
    height: 40px;
    font-size: 20px;
    padding: 10px 0;
    border-radius: 50%;
    color: #fafafa;
    vertical-align: auto;
    background-color: #8f8f8f;
    transition: all 0.35s ease-in-out;
    -moz-transition: all 0.35s ease-in-out;
    -webkit-transition: all 0.35s ease-in-out;
    -o-transition: all 0.35s ease-in-out;
}

.linkedin li a i:hover {
    background: #e84610; 
}

/*------------------------------Map */

div#map {
    min-height: 360px;
}


/*------------------------------Personal info */

.personalInfoItem {
    margin-bottom: 20px;
    display: block;
    clear: both;
}

.personalInfoItem .key,
.personalInfoItem .value {
    padding-right: 8px;
    display: inline-block;
}

.personalInfoItem .key p,
.personalInfoItem .value p {
    margin: 0;    
}

.personalInfoItem .key {
width: 30%;
margin-right: 21px;
padding-top: 2px;
vertical-align: top;
}

.personalInfoItem .key p {
font-weight: 700;
}

.personalInfoItem .value {
    position: relative;
    width: 60%;
} 



/*------------------------------Three reasons */

.threeReasonsIcon {
    font-size: 26px;
    color: #e67e22;
}

.threeReasonsHeading {
    margin-bottom: 15px;    
}

/*------------------------------Work History */

.historyHeading {
    color: #fafafa;
    margin-bottom: 50px;
}


.timeline-item {
    padding: 4em 2em 0em 2em;
    position: relative;
    color: #fafafa;
    border-left: solid 1px;
}

.timeline-item p {
    padding: 0;
    margin: 0;
}

.timeline-item:before {
    content: attr(data-dates);
    position: absolute;
    left: 2.5em;
    top: 3em;
    display: block;
    font-family: "Exo" sans-serif;
    font-weight: 500;
    font-size: 0.8em;
    padding: 0;
    margin: 0;
}

.timeline-item:after {
    width: 12px;
    height: 12px;
    display: block;
    top: 2.4em;
    position: absolute;
    left: -6px;
    border-radius: 12px;
    content: '';
    background: #fafafa;
}

/*------------------------------Skills */

.progress {
    position: relative;
    height: 25px;
    margin: 4px; 
}

.progress-type {
    position: absolute;
    left: 0px;
    font-weight: 400;
    padding: 4px 30px 2px 10px;
    color: #fafafa;
    background-color: rgba(25, 25, 25, 0.2)
}

.progressSection {
    margin: 40px 20px;
}

/*------------------------------ Contact form */

.contact-heading {
    font-family: "Exo" sans-serif;
    font-weight: 300;
    margin-top: 30px;
    margin-bottom: 25px;
}

.centerForm {
    padding-top: 10px;
    margin: 0 auto;
    max-width: 70%; 
}

button[type="submit"] {
    margin-top: 20px;
    margin-bottom: 30px;
    color: #fafafa;
    background-color: #7b0780;
}

#Subject {
    margin-bottom: 20px;
}


/*------------------------------ Download */

.downloadGrid {
    margin-top: 30px;
    margin-bottom: 30px;
    width: 80%;
}


.flagImg {
    height: 50px;
    width:100px;
    display: block;
    align-items: center;
    margin-bottom: 20px;
    margin-left: auto;
    margin-right: auto;
}

.pdfImg {
    height: 125px;
    width:100px;
    display: block;
    align-items: center;
    margin-left: auto;
    margin-right: auto;
}

.Education .section-heading {
    margin-top: 50px;
}